*{

  box-sizing: border-box;
}

.navbar-collapse .navbar-nav li a:hover {
  background-color: ;
  border-radius: ;
}

.navbar-collapse .navbar-nav li a:active {
  border-radius: 10px;
}

[data-wipe]{
  display:inline-block;
  text-decoration:none;
   position: relative;
  border: 2px solid #fff;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  overflow: hidden;
}

[data-wipe]:before, [data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #000;
  background:#ADD7D5 ;
}

[data-wipe]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}

[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.4s ease-in-out;
}

[data-wipe]:hover:before {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.4s ease-in-out;
}

/*view more gallery*/
[data-wipe1]{
  display:inline-block;
  text-decoration:none;
   position: relative;
  border: 2px solid #ADD7D5;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  overflow: hidden;
}

[data-wipe1]:before, [data-wipe1]:after {
  content: attr(data-wipe1);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #000;
  background:#74D5D0;
  border-color: #fff;
}

[data-wipe1]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}

[data-wipe1]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.4s ease-in-out;
}

[data-wipe1]:hover:before {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

[data-wipe1]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.4s ease-in-out;
}