.section {
	.section-title {
		font-size: 2.5rem;
	}
	.section-description {
		margin-bottom: 40px;
	}
	.section-content {
		margin-bottom: 40px;
	}
}

.card-group.event-card-group {
	.card {
		margin: 0px 20px 20px;
	}
}