.section {
	margin-bottom: 80px;

	.section-title {
		font-size: 2.5rem;
	}
	.section-subtitle {
		text-align: center;
		margin-bottom: 20px;
	}
	.section-description {
		margin-bottom: 40px;
	}
	.section-content {
		margin-bottom: 40px;
	}
	.section-subcontent {
		
	}

	&.section-telegram {
		position: relative;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #008000;
		color: #efefef;

		&:after {
			// content: " ";
			// display: block;
			// position: absolute;
			// top: 0px;
			// left: 15%;
			// width: 290px;
			// height: 250px;
			// background: url('/img/telegram.png') center no-repeat;
		}
	}
}


.sby-banner {
	.banner-inner {
		position: relative;
		height: 650px;

		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 0px;
			width: 100%;
			height: inherit;
			background: rgba(255, 255, 255, 0.7);
		}

		.banner-caption {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: inherit;
			padding-top: 64px;
			padding-bottom: 64px;
			
			.banner-title {
				font-size: 44px;
				font-weight: bold;
				text-decoration: underline;
				margin-bottom: 20px;
			}
			.banner-description {
				font-size: 21px;
				font-weight: 300;
			}
		}

		> .banner-item {
			position: absolute;
			top: 0px;
			width: 100%;
			height: 650px;

			> img {
				display: none;
				position: absolute;
			}
		}
	}
}


@media (min-width: 768px) {
	.sby-banner {
		.banner-inner {
			.banner-caption {				
				.banner-title {
					font-size: 52px;
				}
			}
		}
	}
}