
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'landingpage';
@import 'navbar';
@import 'card';

.card.featured {
	box-shadow: 0px 0px 50px #38c172;

	.card-title {
		font-weight: bold;
		font-size: 21px;
	}
	.card-text {
		font-size: 16px;
	}
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sby-btn-lg {
    font-size: 19px;
    padding-top: 18px;
    padding-bottom: 18px;
}
